*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    overflow:hidden;
}
.calculator_window{
    width:100%;
    height:100%;
}
.calculator_window:before{
    content:'';
    background:#0fbcf9;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:absolute;
}
.calculator_row{
    height:100vh;
}
.calculator{
    background:#1e272e;
    padding:10px 5px;
    width:100%;
    height:60%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
button,
input[type="button"]{
    background:#00d8d6;
}
input[type="text"]{
    font-weight:bold;
    font-size:25px;
    height:40px;
}
h3{
    font-size:50px;
    font-weight:300;
}
@media screen and (max-width:500px){
    input[type="text"]{
        font-weight:500;
        font-size:20px;
    }
    h3{
        font-size:40px;
    }
    .calculator{
        height:50%;
    }
}
