*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.calculator_window{
    height:100vh;
    width:100vw;
}
.calculator_window:before{
    content:'';
    background:#0fbcf9;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:absolute;
}
.calculator{
    width:100%;
    position:absolute;
    transform:translateY(-50%);
    top:50%;
    height:50vh;
    background:#1e272e;
    box-shadow:10px 10px 10px rgba(32, 49, 62, 0.74);
}
button,
input[type="button"]{
    background:#00d8d6;
}
input[type="text"]{
    font-weight:bold;
    font-size:25px;
    height:40px;
}
h3{
    font-size:50px;
    font-weight:300;
}
@media screen and (max-width:500px){
    input[type="text"]{
        font-weight:500;
        font-size:20px;
    }
    h3{
        font-size:40px;
    }
}
